<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <a href="?action=user">Users</a>
    <a href="?action=platform" id="p">Platform</a>
    <a href="?action=genres" id="g">Genres</a>
    <a href="?action=modes" id="m">Modes</a>
    <a href="?action=videogames" id="v">Games</a>


    <script>
        const p = document.getElementById('p');
        const g = document.getElementById('g');
        const m = document.getElementById('m');
        const v = document.getElementById('v');

        p.addEventListener('click', () => {
            alert('Opción en desarrollo');
        });

        g.addEventListener('click', () => {
            alert('Opción en desarrollo');
        });

        m.addEventListener('click', () => {
            alert('Opción en desarrollo');
        });

        v.addEventListener('click', () => {
            alert('Opción en desarrollo');
        });
    </script>
</body>
</html>